<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}?v=1">

</head>
<body>
    <div class="home-container">
        <h1>Welcome to AI Chat</h1>
        <div class="button-container">
            <a href="/chat">
                <button id="home-button">Start Engine</button>
            </a>
        </div>
    </div>
</body>
</html>
